<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>병원 방문 목록</title>
</head>
<body>
<h2 th:if="${selectedDate != null}" th:text="'[' + ${selectedDate} + '] 방문 기록'"></h2>
<a th:href="@{/visit/list}" class="btn btn-secondary">전체보기</a>
<a th:href="@{/visit/insertForm}">+ 방문 추가</a>
<table border="1" cellpadding="5">
    <tr>
        <th>번호</th><th>가족 이름</th><th>병원명</th><th>진료과</th><th>날짜</th><th>비용</th><th>관리</th>
    </tr>
    <tr th:each="v : ${list}">
        <td th:text="${v.visit_id}"></td>
        <td th:text="${v.member_id}"></td>
        <td th:text="${v.hospital_name}"></td>
        <td th:text="${v.department}"></td>
        <td th:text="${v.visit_date}"></td>
        <td th:text="${v.cost}"></td>
        <td>
            <a th:href="@{/visit/detail(visit_id=${v.visit_id})}">상세</a>
            <a th:href="@{/visit/delete(visit_id=${v.visit_id})}">삭제</a>
        </td>
        <td>
 		     <a th:href="@{/communication/list(visit_id=${v.visit_id})}">대화기록</a>
		</td>
        
        
    </tr>
    <div style="text-align:right; margin-bottom:10px;">
  <a th:href="@{/calendar}" class="btn btn-outline-primary">달력으로 돌아가기</a>
</div>
</table>
</body>
</html>
