<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.family.calendar.mapper.CalMapper">

    <insert id="insertCal" parameterType="com.family.calendar.dtos.CalendarDto">
        INSERT INTO calendar (id, title, extra_info, content, mdate)
        VALUES (#{id}, #{title}, #{extraInfo}, #{content}, #{mdate})
    </insert>

    <select id="getCalList" resultType="com.family.calendar.dtos.CalendarDto">
        SELECT seq, id, title, extra_info, content, mdate, regdate
        FROM calendar
        ORDER BY mdate ASC
    </select>

    <select id="getCalDetail" resultType="com.family.calendar.dtos.CalendarDto">
        SELECT seq, id, title, extra_info, content, mdate, regdate
        FROM calendar
        WHERE seq = #{seq}
    </select>

    <update id="updateCal" parameterType="com.family.calendar.dtos.CalendarDto">
        UPDATE calendar
        SET title = #{title},
            extra_info = #{extraInfo},
            content = #{content},
            mdate = #{mdate}
        WHERE seq = #{seq}
    </update>

    <delete id="deleteCal" parameterType="int">
        DELETE FROM calendar WHERE seq = #{seq}
    </delete>
    
    <select id="getVisitListByUser" parameterType="int" resultType="com.family.calendar.dtos.VisitDto">
    SELECT 
        v.*, 
        f.name AS member_name, 
        f.relation AS member_relation
    FROM visit v
    JOIN family_member f ON v.member_id = f.member_id
    WHERE f.user_id = #{user_id}
</select>


</mapper>